---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import tadeoImage from "@/assets/tadeo_lemon.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Machine Learning Developer at <a
				class="cactus-link inline-block"
				href="https://www.lemon.me/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Lemon Cash</a
			>. Bachelor's degree student in AI at the <a
				class="cactus-link inline-block"
				href="https://www.palermo.edu/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">University of Palermo</a
			>. Building cool stuff at <a
				class="cactus-link inline-block"
				href="https://www.flode.tech/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Flode</a
			>. Passionate about problem-solving and learning new things.
		</p>
		<div class="flex justify-center grayscale hover:filter-none">
			<Image src={tadeoImage} alt="Me" loading="eager" fetchpriority="high" />
		</div>
		<p class="mb-4 text-xl font-semibold">Experience</p>
		<div class="space-y-6">
			{
				[
					{
						startDate: "Aug 2023",
						endDate: "Present",
						role: "Software Engineer",
						company: "Lemon",
						//description:
						//"Building and deploying ML models for fraud detection and risk assessment in the fintech industry. Working with Python, TensorFlow, and AWS.",
					},
					{
						startDate: "Mar 2024",
						endDate: "Present",
						role: "Co-founder",
						company: "RooMix",
						//description:
						//"Conducted research on deep learning applications in computer vision. Published papers on object detection and semantic segmentation.",
					},
					{
						startDate: "Jul 2023",
						endDate: "Nov 2024",
						role: "Research Assistant",
						company: "University of Palermo",
						//description:
						//	"Conducted research on deep learning applications in computer vision. Published papers on object detection and semantic segmentation.",
					},
					{
						startDate: "Aug. 2022",
						endDate: "Jun. 2023",
						role: "Data Analyst",
						company: "KUDO",
						//description:
						//	"Analyzed user behavior and platform metrics to improve service quality. Developed automated reporting systems using Python and SQL.",
					},
					{
						startDate: "Oct. 2021",
						endDate: "Jan. 2022",
						role: "Student Advocate",
						company: "IBM",
						//description:
						//"Promoted IBM Cloud and AI services within the academic community. Organized workshops and technical training sessions.",
					},
				].map((experience) => (
					<div class="flex flex-col gap-2">
						<div class="flex flex-col gap-2">
							<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
								<span class="font-medium">
									{experience.role} · <span class="text-accent">{experience.company}</span>
								</span>
								<span class="text-sm text-gray-500 dark:text-gray-400">
									{experience.startDate} - {experience.endDate}
								</span>
							</div>
						</div>
					</div>
				))
			}
		</div>
		<p>
			Find me on <a
				class="cactus-link inline-block"
				href="https://www.linkedin.com/in/tadeo-donegana-braunschweig/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">LinkedIn</a
			> or download my <a
				class="cactus-link inline-block"
				href="https://www.linkedin.com/in/tadeo-donegana-braunschweig/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Curriculum Vitae</a
			> to learn more about my experience!
		</p>
	</div>
</PageLayout>
